<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {%block head%}
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>


    <meta name="description" content="Good Juicy Buger Meat"/>
    <!-- this is the description when searched under title //-->

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- this stops the webpage from shrinking to unreadable text -->

    <link rel="stylesheet" href="{{url_for('static', filename = 'screen.css' )}}"/> <!-- ../ goes back file -->
    {% endblock %}
  </head>

  <body>
    {% block content %} blah blah {% endblock %}

        {% block footer %}
        <div id="footer">
          {{ disclaimer|upper }}
        </div>
        {% endblock %}
  </body>
</html>
